@charset "UTF-8";
@font-face {
  font-family: "Aller";
  src: url("../fonts/Aller/Aller_Rg.eot?") format("eot"), url("../fonts/Aller/Aller_Rg.woff") format("woff"), url("../fonts/Aller/Aller_Rg.ttf") format("truetype"), url("../fonts/Aller/Aller_Rg.svg#Aller") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro/MyriadPro-Regular.eot");
  src: local("Myriad Pro Regular"), local("MyriadPro-Regular"), url("../fonts/MyriadPro/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro/MyriadPro-Light.eot");
  src: local("Myriad Pro Light"), local("MyriadPro-Light"), url("../fonts/MyriadPro/MyriadPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-Light.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro/MyriadPro-Bold.eot");
  src: local("Myriad Pro Bold"), local("MyriadPro-Bold"), url("../fonts/MyriadPro/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

body {
  height: 100%;
  font-size: 1em;
  line-height: 1.5; }

p {
  margin: 0; }

ul {
  list-style: none;
  padding-left: 0; }

button {
  cursor: pointer; }

.new-arrivals-title, .best-seller-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; }
  .new-arrivals-title h5, .best-seller-title h5 {
    margin: 0;
    font-size: 1.5625em;
    font-family: "Aller";
    color: #242424;
    font-weight: normal; }
  .new-arrivals-title button, .best-seller-title button {
    background-color: transparent;
    font-size: 0.875em;
    font-family: "Aller";
    color: #bcb5a7;
    font-weight: bold;
    text-align: center;
    border: 1px solid #bcb5a7;
    padding: 10px 20px;
    letter-spacing: 1px; }
    .new-arrivals-title button:hover, .best-seller-title button:hover {
      border: 1px solid #57c5a0;
      color: #57c5a0; }

.free-shipping, .testimonials, .blog-news {
  background-color: #dfdbd4;
  padding: 30px 30px 25px 20px;
  margin-bottom: 25px; }
  .free-shipping h6, .testimonials h6, .blog-news h6 {
    font-size: 0.875em;
    font-family: "Aller";
    color: #242424;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px !important; }
  .free-shipping p, .testimonials p, .blog-news p {
    font-size: 0.75em;
    font-family: "Aller";
    color: #242424; }

.copyright p, .footer-nav a, .footer-nav li:nth-child(even) {
  font-size: 0.75em;
  font-family: "Aller";
  color: white;
  opacity: 0.502; }

.products-slide, .slide {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% / 3);
  list-style: none; }

.slider-details h4 {
  font-size: 2.5em;
  font-family: "Aller";
  color: #242424;
  margin: 0 0 10px 0;
  font-weight: normal;
  width: 62%; }

.slider-details p {
  font-size: 1.25em;
  font-family: "Aller";
  color: #242424;
  margin-bottom: 15px; }

.slider-details i {
  color: #6e6e6e; }

@media screen and (max-width: 600px) {
  .slider-details h4, .slider-details p {
    color: #fff;
    text-shadow: 1px 1px 5px #242424; } }

.slide-1, .slide-2, .slide-3 {
  background-repeat: no-repeat;
  background-size: 50% 100%; }
  @media screen and (max-width: 580px) {
    .slide-1, .slide-2, .slide-3 {
      background-size: cover; } }

.products-search {
  display: none; }

.products-slide {
  padding: 1.875em 0 2.5em;
  background-size: 50% 100%; }
  @media screen and (max-width: 540px) {
    .products-slide {
      font-size: 0.7em;
      justify-content: center;
      background-size: cover; }
      .products-slide .slider-details {
        margin: 0;
        flex-basis: 90%; }
      .products-slide .slide-details__title {
        width: 50%; }
      .products-slide .slide-details__subtitle {
        width: 50%; } }

.slider-price-title {
  display: flex;
  align-items: center; }
  .slider-price-title .slide-price {
    margin-bottom: 0;
    margin-right: 20px; }
  .slider-price-title h4 {
    margin: 0; }

.shop-by {
  background-color: #2e2e2e; }
  .shop-by .container {
    width: 67.14%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .shop-by .container {
        width: 80%; } }
    @media screen and (max-width: 655px) {
      .shop-by .container {
        flex-direction: column;
        padding-bottom: 20px; }
        .shop-by .container > * {
          width: 80%; }
        .shop-by .container select {
          margin-bottom: 10px; } }
  .shop-by h4 {
    font-size: 1.375em;
    font-family: "Aller";
    color: white;
    flex-basis: 20%;
    text-align: center; }

select {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  background-color: #242424;
  border: none;
  padding: 0.9375em 1.25em 0.9375em 1.25em;
  font-size: 1.125em;
  font-family: "Aller";
  color: white;
  text-align: center; }
  select:focus {
    border: 1px solid #7d7d7d;
    outline: 0;
    outline-offset: 0; }

.all-products {
  padding-top: 30px; }

.filters {
  display: flex;
  align-items: center;
  margin-bottom: 30px; }

.products-ttl-brd, .products-view-sort {
  display: flex;
  align-items: center; }

.products-ttl-brd {
  margin-right: auto; }

.all-products-title {
  margin: 0;
  font-size: 1.5625em;
  font-family: "Aller";
  color: #242424;
  font-weight: normal;
  line-height: 1;
  margin-right: 15px; }

.breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 0.1875em;
  vertical-align: center; }

.breadcrumbs a,
.breadcrumbs span {
  font-size: 0.75em;
  font-family: "Aller";
  color: #bcb5a7;
  font-weight: bold;
  margin-right: 5px; }

.view-as {
  font-size: 0.875em;
  font-family: "Aller";
  color: #bcb5a7;
  font-weight: bold;
  margin-right: 15px; }

.view-as-options {
  width: 30px;
  height: 30px;
  border: 1px solid #bcb5a7;
  display: flex;
  align-items: center;
  justify-content: center; }
  .view-as-options i {
    color: #bcb5a7; }
  .view-as-options:hover {
    border: 1px solid #898170; }

.view-as-table {
  margin-right: 10px; }

.view-as-list {
  margin-right: 20px; }

.sort-alphabet {
  cursor: pointer;
  font-size: 0.875em;
  font-family: "Aller";
  color: #bcb5a7;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid #bcb5a7;
  padding: 0.375em 0.8125em 0.375em 2.1875em; }
  .sort-alphabet:hover {
    border: 1px solid #898170; }

.list-layout {
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 80%; }
  .list-layout .item:hover .item-actions {
    padding-bottom: 12px;
    justify-content: flex-start; }
    .list-layout .item:hover .item-actions a {
      padding: 0 15px; }
  .list-layout .item {
    margin-right: 0;
    flex-basis: 100%; }

/* увеличенная картинка */
#magnify {
  display: none;
  /* position: absolute; upd: 24.10.2016 */
  position: fixed;
  max-width: 600px;
  height: auto;
  z-index: 9999; }

#magnify img {
  width: 100%; }

/* затемняющий фон */
#overlay {
  display: none;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 9990; }

/* кнопка закрытия */
#close-popup {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #AFAFAF;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px; }

#close-popup i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  color: #2e2e2e; }

@keyframes rota {
  25% {
    transform: rotate(360deg); } }

#close-popup:hover {
  animation: rota 4s infinite normal;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

#modal_form {
  width: 40%;
  height: 60%;
  border-radius: 5px;
  background: #ebe7df;
  position: fixed;
  /* чтoбы oкнo былo в видимoй зoне в любoм месте */
  top: 35%;
  /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
  left: 50%;
  /* пoлoвинa экрaнa слевa */
  margin-top: -10%;
  margin-left: -20%;
  /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
  display: none;
  /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
  opacity: 0;
  /* пoлнoстью прoзрaчнo для aнимирoвaния */
  z-index: 5;
  /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
  padding: 20px 10px; }
  #modal_form #modal_close {
    width: 21px;
    height: 21px;
    color: #383838;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
    text-align: center;
    vertical-align: middle; }

#modal_close {
  width: 21px;
  height: 21px;
  color: #383838;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block;
  text-align: center;
  vertical-align: middle; }

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding: 1.25em 1.875em; }
  .modal-container h4 {
    font-size: 1.5625em;
    font-family: "Aller";
    color: #242424;
    font-weight: normal;
    text-align: center; }
  .modal-container p {
    font-size: 0.9375em;
    font-family: "Aller";
    color: rgba(36, 36, 36, 0.8);
    font-weight: normal;
    margin-bottom: 0.3125em; }
  .modal-container input {
    width: 80%;
    margin-bottom: 1.875em;
    background-color: rgba(36, 36, 36, 0.7);
    color: #fff;
    border-radius: 10px;
    padding: 0.3125em 1.25em;
    font-family: "Aller";
    font-style: italic; }
    .modal-container input:focus {
      outline: 0;
      outline-offset: 0; }
    .modal-container input:last-child {
      margin-bottom: 0;
      margin-top: 40px;
      width: 50%;
      font-style: normal;
      color: #fff;
      border-radius: 10px; }

#modal-overlay {
  z-index: 3;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

header {
  background-color: #242424; }
  header .container {
    width: 67.14%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 400px) {
      header .container {
        width: 90%; } }

.header-logo {
  font-size: 1.625em;
  font-family: "Aller";
  color: #57c5a0;
  text-transform: uppercase;
  margin-right: auto; }

.search {
  position: relative;
  cursor: pointer; }
  .search input {
    font-size: 0.75em;
    font-family: "Myriad Pro";
    color: #b1aeae;
    background-color: #242424;
    text-transform: uppercase;
    padding: 10px 10px;
    margin-right: 10px;
    outline: none;
    outline-offset: 0;
    border: none; }
    @media screen and (max-width: 768px) {
      .search input {
        display: none; } }
  .search i {
    font-size: 0.9375em;
    color: #6e6e6e; }

.search-visible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20px;
  border-left: 2px double #383838;
  border-right: 1px solid #383838; }

.dropdown {
  display: none;
  position: absolute;
  left: 0;
  margin: 0;
  border-left: 1px solid #383838;
  border-right: 1px solid #383838;
  width: 100%;
  z-index: 100; }
  .dropdown a {
    padding: 15px 20px;
    background-color: #4c4c4c;
    display: block;
    font-size: 0.75em;
    font-family: "Myriad Pro";
    color: #b1aeae;
    border-bottom: 1px solid #666464; }
  .dropdown li {
    height: 100%; }

.login {
  font-size: 0.75em;
  font-family: "Myriad Pro";
  color: #b1aeae;
  padding: 15px 20px;
  border-right: 1px solid #383838; }

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 67.14%;
  margin: 0 auto; }
  .navigation ul {
    display: flex;
    margin: 0; }
    .navigation ul a {
      display: block;
      font-size: 1em;
      font-family: "Aller";
      color: #242424;
      border-right: 1px solid #eeeeee;
      padding: 20px 20px; }
  @media screen and (max-width: 940px) {
    .navigation {
      width: 90%; } }

.navigation ul a:first-child {
  border-left: 1px solid #eeeeee; }

.navigation ul a:hover {
  color: #57c5a0; }

.other-btns, .wishlist, .cart {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.nav-search, .hamburger {
  display: none; }

.wishlist, .cart {
  padding: 20px 20px; }

.wishlist {
  border-left: 1px solid #ccc; }

.cart {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc; }

.other-btns i {
  margin-right: 10px;
  color: #858585; }

.other-btns a:hover div {
  background-color: #57c5a0; }

.item-counter {
  width: 20px;
  height: 20px;
  background-color: #adadad;
  text-align: center;
  line-height: 20px;
  border-radius: 5px;
  font-size: 0.75em;
  font-family: "Aller";
  color: white;
  font-weight: bold; }

.slider {
  background-image: url("../img/slider-bg.jpg");
  background-size: cover;
  padding: 0;
  margin: 0; }

#slider-block {
  width: 67.14%;
  margin: 0 auto;
  overflow: hidden; }

#viewport {
  width: 100%;
  display: table;
  margin: 0;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

#slidewrapper {
  display: flex;
  position: relative;
  width: calc(100% * 3);
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

.slide {
  padding: 2.5em 0 3.75em; }
  @media screen and (max-width: 1020px) {
    .slide {
      font-size: 0.75em; } }
  @media screen and (max-width: 590px) {
    .slide {
      justify-content: center;
      background-size: cover; }
      .slide .slider-details {
        margin-left: 10%;
        flex-basis: 90%; }
      .slide .slide-details__title {
        width: 50%; }
      .slide .slide-details__subtitle {
        width: 50%; } }

.slide-1 {
  background-image: url("../img/slider-img.png"); }

.slide-2 {
  background-image: url("../img/slider-img-2.jpg"); }

.slide-3 {
  background-image: url("../img/slider-img-3.jpg"); }

.slider-details {
  flex-basis: 47%; }

.slide-details__subtitle {
  width: 90%; }

.slide-price {
  width: 5.3125em;
  height: 5.3125em;
  background-color: #57c5a0;
  font-size: .8125rem;
  font-family: "Aller";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 5.3125em;
  margin-bottom: 15px; }
  @media screen and (max-width: 950px) {
    .slide-price {
      width: 4.0625em;
      height: 4.0625em;
      line-height: 4.0625em;
      left: 0; } }

.slider-icon {
  display: flex; }
  .slider-icon a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fafaf9;
    margin-right: 5px; }
    .slider-icon a:last-child {
      margin-right: 0; }
    .slider-icon a:hover i {
      color: #57c5a0; }

.slider-nav {
  background-color: #2e2e2e; }
  .slider-nav .wrapper {
    width: 67.14%;
    margin: 0 auto;
    padding: 5px 0 20px; }
  .slider-nav ul {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 0; }

.slider-line {
  position: relative;
  width: 60%;
  height: 10px;
  background-color: #000;
  margin: 0 auto;
  display: flex;
  padding: 3px 8px; }
  .slider-line .line {
    flex: 1 30%;
    padding-right: 3px;
    border-right: 2px solid #2e2e2e; }
  .slider-line div:nth-child(3) {
    border-right: none;
    padding-right: 0; }

#active-line {
  position: absolute;
  width: 30%;
  background-color: #57c5a0;
  height: 4px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

.slide-nav-btn {
  width: 35%;
  text-align: center;
  cursor: pointer;
  font-size: 1.125em;
  font-family: "Aller";
  color: white; }
  .slide-nav-btn span {
    font-size: 0.75rem;
    font-family: "Aller";
    color: #adadad;
    text-align: center; }
  .slide-nav-btn p {
    margin-top: 15px;
    margin-bottom: -5px; }

.specials {
  background-color: #242424; }
  .specials .container {
    width: 67.14%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 25px 0; }
    @media screen and (max-width: 768px) {
      .specials .container {
        width: 80%; } }
  .specials a {
    display: flex;
    align-items: center;
    flex: 1 31.9%;
    background-size: cover;
    margin-right: 20px; }
    .specials a:last-child {
      margin-right: 0; }
  .specials span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5625em;
    font-family: "Aller";
    color: white;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(36, 36, 36, 0.7);
    padding: 20px 40px; }

.on-sale {
  background-image: url("../img/on-sale-img.jpg");
  padding: 3.75em 0; }
  .on-sale span {
    width: 60%;
    margin: 0 auto; }

.spec-offers {
  background-image: url("../img/special-off.jpg");
  padding: 3.75em 0; }
  .spec-offers span {
    width: 85%;
    margin: 0 auto; }

.must-have {
  background-image: url("../img/must-have.jpg");
  padding: 3.75em 0; }
  .must-have span {
    width: 70%;
    margin: 0 auto; }

.products {
  background-color: #ebe7df; }
  .products .container {
    width: 67.14%;
    margin: 0 auto; }
    @media screen and (max-width: 768px) {
      .products .container {
        width: 80%; } }

.new-arrivals {
  padding-top: 30px; }

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .items a {
    display: block; }

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 26.95035%;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  position: relative; }
  .item:nth-child(3n) {
    margin-right: 0; }
  .item img {
    height: 220px;
    width: 100%;
    margin-bottom: 0; }
  .item hr {
    color: #bcb5a7;
    width: 100%; }
  @media screen and (max-width: 600px) {
    .item {
      flex: 1 97.87234%;
      margin-right: 0; } }

.on-sale-badge {
  position: absolute;
  right: 5%;
  top: 0;
  width: 5.3125em;
  height: 5.3125em;
  background-color: #242424;
  font-size: .8125rem;
  font-family: "Aller";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

.item-descr {
  width: 50%;
  align-self: flex-end;
  margin-right: 10%;
  flex: 1; }

.item-descr-visible {
  display: flex;
  align-items: center; }

.item-price {
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 5.3125em;
  height: 5.3125em;
  background-color: #57c5a0;
  font-size: .8125rem;
  font-family: "Aller";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 5.3125em; }
  @media screen and (max-width: 950px) {
    .item-price {
      width: 4.0625em;
      height: 4.0625em;
      line-height: 4.0625em;
      left: 0; } }

.item-name {
  text-align: right;
  font-size: 1.125rem;
  font-family: "Aller";
  color: #242424;
  padding-bottom: 10px; }

.item-actions {
  display: none; }
  .item-actions .fa-eye:hover {
    color: #57c5a0; }
  .item-actions .fa-star:hover {
    color: #57c5a0; }
  .item-actions .fa-share-square:hover {
    color: #57c5a0; }
  .item-actions .fa-shopping-cart:hover {
    color: #57c5a0; }
  @media screen and (max-width: 600px) {
    .item-actions {
      padding-bottom: 1.25em; } }

.item-actions i {
  color: #6e6e6e; }

.item:hover .item-actions {
  display: flex;
  justify-content: space-between; }

.item:hover .item-name {
  display: none; }

.best-seller-title {
  margin-top: 25px; }

.out-stock-badge {
  position: absolute;
  right: 5%;
  top: 0;
  width: 5.3125em;
  height: 5.3125em;
  background-color: #f27e4b;
  font-size: .8125rem;
  font-family: "Aller";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

.addons-line {
  margin-top: 45px; }

.addons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px; }
  .addons h6 {
    margin: 0; }
  @media screen and (max-width: 420px) {
    .addons {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .addons .testimonials, .addons .blog-news {
        margin-right: 0; }
      .addons .blog-news {
        width: 100%; } }

.free-shipping {
  flex: 1;
  margin-right: 20px; }

.testimonials {
  flex: 1;
  margin-right: 20px; }

.testimonials__author {
  margin-top: 10px; }

.blog-news {
  flex: 2.15; }

#news-1, #news-2 {
  display: flex; }

#news-1 {
  margin-bottom: 20px; }

#news-1-title, #news-2-title {
  font-size: 0.875em;
  font-weight: bold;
  margin: 0; }

.news-data {
  width: 3.75em;
  height: 3.75em;
  background-color: #57c5a0;
  font-size: 0.625em;
  font-family: "Aller";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 10px; }

.pre-footer {
  background-color: #242424;
  padding: 50px 0 45px; }
  .pre-footer .container {
    width: 61.43%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .pre-footer .container h6 {
      margin: 0; }
    @media screen and (max-width: 380px) {
      .pre-footer .container {
        flex-direction: column; }
        .pre-footer .container .widget {
          margin-bottom: 10px; } }

.widget {
  flex: 1;
  margin-right: 50px; }
  .widget:last-child {
    margin-right: 0; }
  .widget h6 {
    font-size: 0.875em;
    font-family: "Aller";
    color: #7d7d7d;
    text-transform: uppercase;
    margin-bottom: 20px !important; }
  .widget p {
    font-size: 0.75em;
    font-family: "Aller";
    color: #a4a4a4;
    font-style: italic; }
    .widget p span {
      color: #57c5a0; }

#twit-date-1, #twit-date-2 {
  margin-top: 5px; }

#second-twit {
  margin-top: 10px; }

.flickr-images {
  display: flex; }

.flickr-img {
  width: 31%;
  height: 3.4375em;
  flex: 1;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer; }

.pre-footer__hr {
  border: 0;
  border-bottom: 1px solid #1c1c1c;
  margin: 30px 0 40px; }

form {
  position: relative; }

.email {
  background-color: #2e2e2e;
  border: none;
  padding: 8px 100px 9px 15px;
  color: #7d7d7d;
  width: 100%; }

.email:focus,
.submit:focus {
  border: 1px solid #7d7d7d;
  outline: 0;
  outline-offset: 0; }

.email::placeholder {
  font-size: 0.75em;
  font-family: "Aller";
  color: #7d7d7d;
  font-style: italic; }

.email:-ms-input-placeholder {
  font-size: 0.75em;
  font-family: "Aller";
  color: #7d7d7d;
  font-style: italic; }

.email::-ms-input-placeholder {
  font-size: 0.75em;
  font-family: "Aller";
  color: #7d7d7d;
  font-style: italic; }

.email::-webkit-input-placeholder {
  font-size: 12px;
  font-family: "Aller";
  color: #7d7d7d;
  font-style: italic; }

.submit {
  background-image: url("../img/arrow.png");
  background-size: 9px 12px;
  background-repeat: no-repeat;
  background-color: #7d7d7d;
  background-position: 50% 50%;
  border: none;
  width: 2.1875em;
  height: 2.1875em;
  position: absolute;
  right: 0;
  top: 0; }

.social-icons {
  display: flex;
  justify-content: space-between; }

.social-icons a {
  margin-right: 10px;
  width: 2.1875em;
  height: 2.1875em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e2e2e; }
  .social-icons a:last-child {
    margin-right: 0; }

.social-icons i {
  color: #7d7d7d;
  font-size: 1.3em; }
  .social-icons i:hover {
    color: #57c5a0; }

footer {
  background-color: #2e2e2e; }
  footer .container {
    width: 67.14%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0; }
    @media screen and (max-width: 768px) {
      footer .container {
        width: 80%; } }
    @media screen and (max-width: 530px) {
      footer .container {
        flex-direction: column; }
        footer .container .copyright {
          order: 1; } }

.footer-nav ul {
  display: flex;
  align-items: center; }

.footer-nav a {
  padding: 0 5px;
  text-align: center; }
  .footer-nav a:hover {
    color: #57c5a0; }

@media screen and (max-width: 768px) {
  body {
    font-size: .8em; }
  .navigation ul a {
    padding: 10px 10px; }
  .wishlist, .cart {
    padding: 10px 10px; }
  #slider-block {
    width: 100%; }
  .slider-nav .wrapper {
    width: 80%; }
  .slider-line,
  .slider-nav ul {
    width: 100%; }
  .free-shipping {
    display: none; }
  .twitter-widget {
    display: none; }
  .mail-icons {
    flex-direction: column;
    justify-content: center; }
  .social-icons {
    justify-content: center;
    margin: 10px auto 0; } }

@media screen and (max-width: 600px) {
  .mail-icons {
    flex-direction: column;
    justify-content: center; }
  .social-icons {
    justify-content: center;
    margin: 10px auto 0; }
  .slider-details {
    flex-basis: 70%;
    justify-content: center;
    margin: 0 auto; }
  .search-visible {
    display: none; }
  .login {
    border-left: 1px solid #383838; }
  .navigation {
    justify-content: center;
    flex-direction: column; }
  .navigation ul {
    display: none;
    width: 100%;
    justify-content: center;
    order: 1;
    flex-direction: column; }
    .navigation ul li {
      text-align: center; }
    .navigation ul a {
      border-bottom: 1px solid #eeeeee; }
  .other-btns {
    border-bottom: 1px solid #ccc; }
    .other-btns i {
      margin-right: 5px;
      font-size: 1.1em; }
  .nav-search, .hamburger {
    display: block;
    padding: 10px 20px;
    border-right: 1px solid #ccc; }
    .nav-search i, .hamburger i {
      margin-right: 0; }
  .hamburger {
    border-left: 1px solid #ccc; }
  .shop-by {
    font-size: 0.8em; }
  .slider-nav {
    font-size: 0.8em; } }

@media screen and (max-width: 550px) {
  .filters {
    font-size: 0.8em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
  .all-products-title, .breadcrumbs {
    flex: 1 40%; }
  .products-ttl-brd {
    margin-right: 0; }
  .products-view-sort {
    margin-top: 10px; } }

@media screen and (max-width: 460px) {
  body {
    font-size: .9em; }
  .specials .container {
    flex-direction: column; }
  .specials a {
    margin-right: 0;
    margin-bottom: 10px; }
  .on-sale, .spec-offers, .must-have {
    padding: 1.875em 0; }
  .shop-by {
    font-size: 0.8em; }
    .shop-by .container {
      padding-bottom: 0; }
    .shop-by .shop-by-title {
      cursor: pointer; }
    .shop-by .brands, .shop-by .categories, .shop-by .price {
      display: none; } }

/*# sourceMappingURL=application.css.map */
