//Media queries


@media screen and (max-width: 768px) {
	body{
		font-size: .8em;
	}

	.navigation ul a{
		padding: 10px 10px;
	}

	.wishlist, .cart{
		padding: 10px 10px;
	}

	#slider-block{
		width: 100%;
	}

	.slider-nav .wrapper{
		width: 80%;
	}

	.slider-line,
	.slider-nav ul{
		width: 100%;
	}

 	.free-shipping{
 		display: none;
 	}

	.twitter-widget{
		display: none;
	}


	.mail-icons{
		flex-direction: column;
		justify-content: center;
	}

	.social-icons{
		justify-content: center;
		margin: 10px auto 0;
	}
}


@media screen and (max-width: 600px){
	.mail-icons{
		flex-direction: column;
		justify-content: center;
	}

	.social-icons{
		justify-content: center;
		margin: 10px auto 0;
	}

	.slider-details{
		flex-basis: 70%;
		justify-content: center;
		margin: 0 auto;
	}
	
	.search-visible{
		display: none;
	}

	.login{
		border-left: $header-border;
	}

	.navigation{
		justify-content: center;
		flex-direction: column;
	}

	.navigation ul{
		display: none;
		width: 100%;
		justify-content: center;
		order: 1;
		flex-direction: column;
		li{
			text-align: center;
		}
		a{
			border-bottom: 1px solid #eeeeee;
		}
	}


	.other-btns{
		i{
			margin-right: 5px;
			font-size: 1.1em;
		}
		border-bottom: 1px solid #ccc;
	}

	.nav-search, .hamburger{
		display: block;
		padding: 10px 20px;
		border-right: 1px solid #ccc;
		i{
			margin-right: 0;
		}
	}

	.hamburger{
		border-left: 1px solid #ccc;;
	}

	.shop-by{
		font-size: 0.8em
	}

	.slider-nav{
		font-size: 0.8em;
	}
}

@media screen and (max-width: 550px){
	.filters{
		font-size: 0.8em;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.all-products-title, .breadcrumbs{
		flex: 1 40%;
	}
	
	.products-ttl-brd{
		margin-right: 0;
	}

	.products-view-sort{
		margin-top: 10px;
	}
}

@media screen and (max-width: 460px){
	body{
		font-size: .9em;
	}
	.specials{
		.container{
			flex-direction: column;
		}
		a{
			margin-right: 0;
			margin-bottom: 10px;
		}
	}
	.on-sale, .spec-offers, .must-have{
		padding: px-to-em(30px) 0;
	}

	.shop-by{
		.container{
			padding-bottom: 0;
		}
		font-size: 0.8em;
		.shop-by-title{
			cursor: pointer;
		}
		.brands, .categories, .price{
			display: none;
		}
	}
}
