@function px-to-em($target){
    @return ($target / 16px) * 1em;
}

@mixin font-size($fs){
	font-size: px-to-em($fs);
}

@mixin centered-width{
	width: 67.14%;
	margin: 0 auto;
} 

@mixin badge($color){
	position: absolute;
	right: 5%;
	top: 0;
	width: px-to-em(85px);
	height: px-to-em(85px);
	background-color: $color;
	font-size: .8125rem;
	font-family: $Aller;
	color: rgb( 255, 255, 255 );
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

@mixin item-price{
	width: px-to-em(85px);
	height: px-to-em(85px);
	background-color: $main-green-color;
	font-size: .8125rem;
	font-family: $Aller;
	color: rgb( 255, 255, 255 );
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: px-to-em(85px);
	@media screen and (max-width: 950px) {
		width: px-to-em(65px);
		height: px-to-em(65px);
		line-height: px-to-em(65px);
		left: 0;
	}
}

@mixin icons-hover{
	.fa-eye:hover{
		color: $main-green-color;
	}

	.fa-star:hover{
		color: $main-green-color;
	}

	.fa-share-square:hover{
		color: $main-green-color;
	}

	.fa-shopping-cart:hover{
		color: $main-green-color;
	}
}


//Media mixins

@mixin container-width($width) {
	@media screen and (max-width: 768px) {
		width: $width;
	}
}  




@function px-to-pc($target, $context: $max-width){
    @return ($target / $context) * 100%;
}

// Функция определения flex-basis в %, учитывая отступы $gutter 
//Принимает значение, равное желаемому количеству колонок в строке
@function per-line($items){
    $g-pct: px-to-pc($gutter);
    $g-total: $g-pct * $items;
    @return (100% / $items) - $g-total;
} 


// Placeholders

%products-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	h5{
		margin: 0;
		@include font-size(25px);
		font-family: $Aller;
		color: rgb( 36, 36, 36 );
		font-weight: normal;
	}
	button{
		background-color: transparent;
		@include font-size(14px);
		font-family: $Aller;
		color: rgb( 188, 181, 167 );
		font-weight: bold;
		text-align: center;
		border: 1px solid #bcb5a7;
		padding: 10px 20px;
		letter-spacing: 1px;

		&:hover{
			border: 1px solid $main-green-color;
			color: $main-green-color;
		}
	}
}

%addons-blocks{
	background-color: #dfdbd4;
	padding: 30px 30px 25px 20px;
	margin-bottom: 25px;
	h6{
		@include font-size(14px);
		font-family: $Aller;
		color: rgb( 36, 36, 36 );
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 20px !important; 
	}
	p{
		@include font-size(12px);
		font-family: $Aller;
		color: rgb( 36, 36, 36 );
	}
}

%footer-text{
	@include font-size(12px);
	font-family: $Aller;
	color: rgb( 255, 255, 255 );
	opacity: 0.502;
}

%slide{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: calc(100% / 3);
    list-style: none;
}

%slider-description{
	h4{
		@include font-size(40px);
		font-family: $Aller;
		color: rgb( 36, 36, 36 );
		margin: 0 0 10px 0;
		font-weight: normal;
		width: 62%;
	}

	p{
		@include font-size(20px);
		font-family: $Aller;
		color: rgb( 36, 36, 36 );
		margin-bottom: 15px;
	}

	i{
		color: #6e6e6e;
	}
	@media screen and (max-width: 600px) {
		h4, p{
			color: #fff;
			text-shadow: 1px 1px 5px rgb( 36, 36, 36 );
		}
	}

}

%slider-images{
	background-repeat: no-repeat;
	background-size: 50% 100%;
	@media screen and (max-width: 580px) {
		background-size: cover;
	}
}
