// Search
.products-search{
	display: none;
} 

// Slider section
.products-slide{
	@extend %slide;
	padding: px-to-em(30px) 0 px-to-em(40px);
	background-size: 50% 100%;
	@media screen and (max-width: 540px) {
		font-size: 0.7em;
		justify-content: center;
		background-size: cover;
		.slider-details{
			margin: 0;
			flex-basis: 90%;
		}
		.slide-details__title{
			width: 50%;
		}
		.slide-details__subtitle{
			width: 50%;
		}
	}
}

.slider-price-title{
	display: flex;
	align-items: center;
	.slide-price{
		margin-bottom: 0;
		margin-right: 20px;
	}
	h4{
		margin: 0;
	}
}

//Shop by

.shop-by{
	background-color: #2e2e2e;
	.container{
		@include centered-width;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include container-width(80%);
		@media screen and (max-width: 655px) {
			flex-direction: column;
			padding-bottom: 20px;
			& > *{
				width: 80%;
			}
			select{
				margin-bottom: 10px;
			}
		}
	}

	h4{
		@include font-size(22px);
		font-family: $Aller;
		color: rgb( 255, 255, 255 );
		flex-basis: 20%;
		text-align: center;
	}
} 

	
select{
	flex-basis: 20%;
	display: flex;
	justify-content: center;

	background-color: #242424;
	border: none;
	padding: px-to-em(15px) px-to-em(20px) px-to-em(15px) px-to-em(20px);

	@include font-size(18px);
	font-family: $Aller;
	color: rgb( 255, 255, 255 );
	text-align: center;
	&:focus{
		border: 1px solid rgb( 125, 125, 125 );
		outline: 0;
		outline-offset: 0;
	}
}



// All Products

.all-products{
	padding-top: 30px;
}

.filters{
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.products-ttl-brd, .products-view-sort{
	display: flex;
	align-items: center;
}

.products-ttl-brd{
	margin-right: auto;
}

.all-products-title{
	margin: 0;
	@include font-size(25px);
	font-family: $Aller;
	color: rgb( 36, 36, 36 );
	font-weight: normal;
	line-height: 1;
	margin-right: 15px;
}

.breadcrumbs{
	display: flex;
	align-items: center;
	margin-bottom: px-to-em(3px); 
	vertical-align: center;
}

.breadcrumbs a,
 .breadcrumbs span{
  @include font-size(12px);
  font-family: $Aller;
  color: rgb( 188, 181, 167 );
  font-weight: bold;
  margin-right: 5px;
}

.view-as{
	@include font-size(14px);
	font-family: $Aller;
	color: rgb( 188, 181, 167 );
	font-weight: bold;
	margin-right: 15px;
}

.view-as-options{
	width: 30px;
	height: 30px;
	border: 1px solid rgb( 188, 181, 167 );
	display: flex;
	align-items: center;
	justify-content: center;
	i{
		color: rgb( 188, 181, 167 );
	}
	&:hover{
		border: 1px solid #898170;
	}
}

.view-as-table{
	margin-right: 10px;
}

.view-as-list{
	margin-right: 20px;
}

.sort-alphabet{
	cursor: pointer;
	@include font-size(14px);
	font-family: $Aller;
	color: rgb( 188, 181, 167 );
	font-weight: bold;
	background-color: transparent;
	border: 1px solid #bcb5a7;
	padding: px-to-em(6px) px-to-em(13px) px-to-em(6px) px-to-em(35px);
	&:hover{
		border: 1px solid #898170;
	}
}

//List view

.list-layout{
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	width: 80%;
	.item:hover .item-actions {
		padding-bottom: 12px;
		justify-content: flex-start;
		a{
			padding: 0 15px;
		}
	}
	.item{
		margin-right: 0;
		flex-basis: 100%;
	}
}

