
$main-green-color: #57c5a0;
$header-bg-color: #242424;
$dropdown-color: #4c4c4c;
$icons-color: #6e6e6e;


$Aller: "Aller";
$Myriad: "Myriad Pro";

$header-border: 1px solid #383838;

$gutter: 20px;
$max-width: 940px;