// ==========================================================================
// Global Imports
// ==========================================================================

@font-face {
	font-family:"Aller";
	src:url("../fonts/Aller/Aller_Rg.eot?") format("eot"), url("../fonts/Aller/Aller_Rg.woff") format("woff"), url("../fonts/Aller/Aller_Rg.ttf") format("truetype"), url("../fonts/Aller/Aller_Rg.svg#Aller") format("svg");
	font-weight:normal;font-style:normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-Regular.eot');
	src: local('Myriad Pro Regular'), local('MyriadPro-Regular'),
		url('../fonts/MyriadPro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'),
		url('../fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-Light.eot');
	src: local('Myriad Pro Light'), local('MyriadPro-Light'),
		url('../fonts/MyriadPro/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MyriadPro/MyriadPro-Light.woff') format('woff'),
		url('../fonts/MyriadPro/MyriadPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-Bold.eot');
	src: local('Myriad Pro Bold'), local('MyriadPro-Bold'),
		url('../fonts/MyriadPro/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MyriadPro/MyriadPro-Bold.woff') format('woff'),
		url('../fonts/MyriadPro/MyriadPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

body{
	height: 100%;
	font-size: 1em;
	line-height: 1.5;
}

p{
	margin: 0;
}

ul{
	list-style: none;
	padding-left: 0;
}

button{
	cursor: pointer;
}

@import 'variables';
@import 'mixins';
@import 'products';
@import 'growing-img';


//Modal form

#modal_form{
	width: 40%;
	height: 60%;
	border-radius: 5px;
	background: #ebe7df;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 35%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -10%;
	margin-left: -20%; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px; 
	#modal_close {
		width: 21px;
		height: 21px;
		color: #383838;
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		display: block;
		text-align: center;
		vertical-align: middle;
	}
}

#modal_close {
	width: 21px;
	height: 21px;
	color: #383838;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
	text-align: center;
	vertical-align: middle;
}

.modal-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 70%;
	margin: 0 auto;
	padding: px-to-em(20px) px-to-em(30px);
	h4{
		@include font-size(25px);
		font-family: $Aller;
		color: rgb( 36, 36, 36 );
		font-weight: normal;
		text-align: center;
	}
	p{
		@include font-size(15px);
		font-family: $Aller;
		color: rgba( 36, 36, 36, 0.8 );
		font-weight: normal; 
		margin-bottom: px-to-em(5px)
	}
	input{
		width: 80%;
		margin-bottom: px-to-em(30px);
		background-color: rgba( 36, 36, 36, 0.7 );
		color: #fff;
		border-radius: 10px;
		padding: px-to-em(5px) px-to-em(20px);
		font-family: $Aller;
		font-style: italic;
		&:focus{
			outline: 0;
    		outline-offset: 0;
		}
		&:last-child{
			margin-bottom: 0;
			margin-top: 40px;
			width: 50%;
			font-style: normal;
			color: #fff;
			border-radius: 10px;
		}
	}
}

#modal-overlay {
	z-index:3;
	position:fixed; 
	background-color:#000; 
	opacity:0.8; 
	-moz-opacity:0.8; 
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; 
	top:0; 
	left:0;
	cursor:pointer;
	display:none; 
}


// Header

header{
	background-color: $header-bg-color;
	.container{
	@include centered-width;
	display: flex;
	justify-content: space-between;
	align-items: center;
		@media screen and (max-width: 400px) {
			width: 90%;
		}
	}
}


.header-logo{
  @include font-size(26px);
  font-family: $Aller;
  color: rgb( 87, 197, 160 );
  text-transform: uppercase; 
  margin-right: auto;
}  	

.search{
	position: relative;
	cursor: pointer;
	input{
  		@include font-size(12px);
		font-family: $Myriad;
		color: rgb( 177, 174, 174 );
		background-color: $header-bg-color;
		text-transform: uppercase;
		padding: 10px 10px;
		margin-right: 10px;
		outline: none;
		outline-offset: 0;
		border: none;
		@media screen and (max-width: 768px) {
			display: none;
		}
	}

	i{
		@include font-size(15px);
		color: $icons-color;
	}
}

.search-visible{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 6px 20px;
	border-left: 2px double #383838;
	border-right: 1px solid #383838;
}

.dropdown{
	display: none;
	position: absolute;
	//top: 48px;
	left: 0;
	margin: 0;
	border-left: $header-border;
	border-right: $header-border;
	width: 100%;
	a{
		padding: 15px 20px;
		background-color: #4c4c4c;
		display: block;
		@include font-size(12px);
		font-family: $Myriad;
		color: rgb( 177, 174, 174 );
		border-bottom: 1px solid #666464;
	}

	li{
		height: 100%;
	}
	z-index: 100;
}

.login{
	@include font-size(12px);
	font-family: $Myriad;
	color: rgb( 177, 174, 174 );
	padding: 15px 20px;
	border-right: $header-border;
}

// Navigation

.navigation{
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include centered-width;
	ul{
		display: flex;
		margin: 0;
		a{
			display: block;
			font-size: 1em;
			font-family: $Aller;
			color: rgb( 36, 36, 36 );
			border-right: 1px solid #eeeeee;
			padding: 20px 20px;
		}
	}
	@media screen and (max-width: 940px) {
		width: 90%;
	}
}

.navigation ul a:first-child{
	border-left: 1px solid #eeeeee;
}

.navigation ul a:hover{
	color: $main-green-color;
}

.other-btns, .wishlist, .cart{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-search, .hamburger{
	display: none;
}

.wishlist, .cart{
	padding: 20px 20px;
}

.wishlist{
	border-left: 1px solid #ccc;
}

.cart{
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.other-btns i{
	margin-right: 10px;
	color: #858585;
}

.other-btns a:hover div{
	background-color: $main-green-color;
}

.item-counter{
	width: 20px;
	height: 20px;
	background-color: #adadad;
	text-align: center;
	line-height: 20px;
	border-radius: 5px;

	@include font-size(12px);
	font-family: "Aller";
	color: rgb( 255, 255, 255 );
	font-weight: bold;
}

// Slider

.slider{
	background-image: url('../img/slider-bg.jpg');
	background-size: cover;
	padding: 0;
	margin: 0;
}

#slider-block{
	@include centered-width;
	overflow: hidden;
}

#viewport {
    width: 100%;
    display: table;
    margin: 0;
    position: relative;
    overflow: hidden;  //скрывает остальные слайды
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

//Имеет ширину 100% * на кол-во слайдов
#slidewrapper {
	display: flex;
    position: relative;
    width: calc(100% * 3);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.slide{
	@extend %slide;
    padding: px-to-em(40px) 0 px-to-em(60px);
	@media screen and (max-width: 1020px) {
		font-size: 0.75em;
	}

    @media screen and (max-width: 590px) {
		justify-content: center;
		background-size: cover;
		.slider-details{
			margin-left: 10%;
			flex-basis: 90%;
		}
		.slide-details__title{
			width: 50%;
		}
		.slide-details__subtitle{
			width: 50%;
		}
	}
}

.slide-1{
	background-image: url('../img/slider-img.png');
	@extend %slider-images;
}

.slide-2{
	background-image: url('../img/slider-img-2.jpg');
	@extend %slider-images;
}

.slide-3{
	background-image: url('../img/slider-img-3.jpg');
	@extend %slider-images;
}

.slider-details{
	flex-basis: 47%;
	@extend %slider-description;

}

.slide-details__subtitle{
	width: 90%;
}

.slide-price{
	@include item-price;
	margin-bottom: 15px;
}

.slider-icon{
	display: flex;
	a{
		display: block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		background-color: #fafaf9;
		margin-right: 5px;
		&:last-child{
			margin-right: 0;
		}

		&:hover i{
			color: $main-green-color;
		}
	}
}

//SLider navigation

.slider-nav{
	.wrapper{
		@include centered-width;
		padding: 5px 0 20px;
	}
	ul{
		width: 60%;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		padding: 0;
	}
	background-color: #2e2e2e;
}

.slider-line{
	position: relative;
	width: 60%;
	height: 10px;
	background-color: #000;
	margin: 0 auto;
	display: flex;
	padding: 3px 8px;
	.line{
		flex: 1 30%;
		padding-right: 3px;
		border-right: 2px solid #2e2e2e;
	}
	div:nth-child(3){
		border-right: none;
		padding-right: 0;
	}
}

#active-line{
	position: absolute;
	width: 30%;
	background-color: $main-green-color;
	height: 4px;

	-webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.slide-nav-btn{
	width: 35%; 
	text-align: center;
	cursor: pointer;
	@include font-size(18px);
	font-family: $Aller;
	color: rgb( 255, 255, 255 );
	span{
		font-size: 0.75rem;
		font-family: $Aller;
		color: rgb( 173, 173, 173 );
		text-align: center;
	}
	p{
		margin-top: 15px;
		margin-bottom: -5px;
	}
}




// Specials section
.specials{
	background-color: #242424;
	.container{
		@include centered-width;
		display: flex;
		justify-content: center;
		padding: 25px 0;
		@include container-width(80%);
	}

	a{
		display: flex;
		align-items: center;
		flex: 1 31.9%;
		background-size: cover;
		margin-right: 20px;
		&:last-child{
			margin-right: 0;
		}
	}

	span{
		display: flex;
		align-items: center;
		justify-content: center;
		@include font-size(25px);
		font-family: "Aller";
		color: rgb( 255, 255, 255 );
		text-transform: uppercase;
		text-align: center;
		background-color: rgba(36,36,36,0.7);
		padding: 20px 40px;
	}
}

.on-sale{
	background-image: url('../img/on-sale-img.jpg');
	padding: px-to-em(60px) 0;
	span{
		width: 60%;
		margin: 0 auto;
	}
}

.spec-offers{
	background-image: url('../img/special-off.jpg');
	padding: px-to-em(60px) 0;
	span{
		width: 85%;
		margin: 0 auto;
	}
}

.must-have{
	background-image: url('../img/must-have.jpg');
	padding: px-to-em(60px) 0;
	span{
		width: 70%;
		margin: 0 auto;
	}
}


// Section Products

.products{
	background-color: #ebe7df;
	.container{
		@include centered-width;
		@include container-width(80%);
	}
}

// Subsection New Arrivals

.new-arrivals{
	padding-top: 30px;
}

.new-arrivals-title{
	@extend %products-title;
}

.items{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	a{
		display: block;
	}
}

.item{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 per-line(3);
	margin-right: $gutter;
	margin-bottom: $gutter;
	background-color: #fff;
	position: relative;
	&:nth-child(3n){
		margin-right: 0;
	}
	img{
		height: 220px;
		width: 100%;
		margin-bottom: 0;
	}
	hr{
		color: #bcb5a7;
		width: 100%;
	}

	@media screen and (max-width: 600px) {
		flex: 1 per-line(1);
		margin-right: 0;
	}
}

.on-sale-badge{
	@include badge(#242424);
}

.item-descr{
	width: 50%;
	align-self: flex-end;
	margin-right: 10%;
	flex: 1;
}

.item-descr-visible{
	display: flex;
	align-items: center;
}

.item-price{
	position: absolute;
	left: 5%;
	bottom: 0;
	@include item-price;
}

.item-name{
	text-align: right;
	font-size: 1.125rem;
	font-family: $Aller;
	color: rgb( 36, 36, 36 );
	padding-bottom: 10px;
}

.item-actions{
	display: none;
	@include icons-hover;
	@media screen and (max-width: 600px) {
		padding-bottom: px-to-em(20px);
	}
}

.item-actions i{
	color: #6e6e6e;
}

.item:hover .item-actions{
	display: flex;
	justify-content: space-between;
}


.item:hover .item-name{
	display: none;
}


// Subsection Best seller


.best-seller-title{
	@extend %products-title;
	margin-top: 25px;
}
 
.out-stock-badge{
	@include badge(#f27e4b);
}

// Subsection Addons

.addons-line{
	margin-top: 45px;
}

.addons{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	h6{
		margin: 0;
	}

	@media screen and (max-width: 420px){
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.testimonials, .blog-news{
			margin-right: 0;
		}
		.blog-news{
			width: 100%;
		}
	}
}

.free-shipping{
	flex: 1;
	margin-right: 20px;
	@extend %addons-blocks;
}

.testimonials{
	flex: 1;
	margin-right: 20px;
	@extend %addons-blocks;
}

.testimonials__author{
	margin-top: 10px;
}

.blog-news{
	flex: 2.15;
	@extend %addons-blocks; 
}

#news-1, #news-2{
	display: flex;
}

#news-1{
	margin-bottom: 20px;
}

#news-1-title, #news-2-title{
	@include font-size(14px);
	font-weight: bold;
	margin: 0;
}

.news-data{
	width: px-to-em(60px);
	height: px-to-em(60px);
	background-color: $main-green-color;
	@include font-size(10px);
	font-family: $Aller;
	color: rgb( 255, 255, 255 );
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-right: 10px;
}


// Pre-footer Section

.pre-footer{
	background-color: #242424;
	padding: 50px 0 45px;
	.container{
		width: 61.43%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		h6{
			margin: 0;
		}

		@media screen and (max-width: 380px){
			flex-direction: column;
			.widget{
				margin-bottom: 10px;
			}
		}
	}
}

.widget{
	flex: 1;
	margin-right: 50px;
	&:last-child{
		margin-right: 0;
	}
	h6{
		@include font-size(14px);
		font-family: $Aller;
		color: rgb( 125, 125, 125 );
		text-transform: uppercase;
		margin-bottom: 20px !important;
	}

	p{
		@include font-size(12px);
		font-family: $Aller;
		color: rgb( 164, 164, 164 );
		font-style: italic;
		span{
			color: $main-green-color;
		}
	}
}

#twit-date-1, #twit-date-2{
	margin-top: 5px;
}

#second-twit{
	margin-top: 10px;
}

.flickr-images{
	display: flex;
}

.flickr-img{
	width: 31%;
	height: px-to-em(55px);
	flex: 1;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.pre-footer__hr{
	border: 0;
	border-bottom: 1px solid #1c1c1c;
	margin: 30px 0 40px;
}


form{
	position: relative;
}

.email{
	background-color: #2e2e2e;
	border: none;
	padding: 8px 100px 9px 15px;
	color: rgb( 125, 125, 125 );
	width: 100%;
}

.email:focus,
.submit:focus{
	border: 1px solid rgb( 125, 125, 125 );
	outline: 0;
    outline-offset: 0;
}

.email::placeholder{
	@include font-size(12px);
	font-family: $Aller;
	color: rgb( 125, 125, 125 );
	font-style: italic;
}

.email:-ms-input-placeholder{
	@include font-size(12px);
	font-family: $Aller;
	color: rgb( 125, 125, 125 );
	font-style: italic;
}


.email::-ms-input-placeholder{
	@include font-size(12px);
	font-family: $Aller;
	color: rgb( 125, 125, 125 );
	font-style: italic;
}


.email::-webkit-input-placeholder{
	font-size: 12px;
	font-family: $Aller;
	color: rgb( 125, 125, 125 );
	font-style: italic;
}

.submit{
	background-image: url('../img/arrow.png');
	background-size: 9px 12px;
	background-repeat: no-repeat;
	background-color: #7d7d7d;
	background-position: 50% 50%;
	border: none;
	width: px-to-em(35px);
	height: px-to-em(35px);
	position: absolute;
	right: 0;
	top: 0;
}

.social-icons{
	display: flex;
	justify-content: space-between;
}

.social-icons a{
	margin-right: 10px;
	width: px-to-em(35px);
	height: px-to-em(35px);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2e2e2e;
	&:last-child{
		margin-right: 0;
	}
}

.social-icons i{
	color: #7d7d7d;
	font-size: 1.3em;
	&:hover{
		color: $main-green-color;
	}
}



// Footer section

footer{
	background-color: #2e2e2e;
	.container{
		@include centered-width;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 0;
		@include container-width(80%);
		@media screen and (max-width: 530px) {
			flex-direction: column;
			.copyright{
				order: 1;
			}
		}
	}

}

.copyright p{
  @extend %footer-text;
}

.footer-nav{
	ul{
		display: flex;
		align-items: center;
	}
}

.footer-nav a{
	@extend %footer-text;
	padding: 0 5px;
	text-align: center;
	&:hover{
		color: $main-green-color;
	}
}

.footer-nav li:nth-child(even){
	@extend %footer-text;
}

@import 'media';
